.point-name {
    text-transform: uppercase;
    font-weight: bold;
}

#bearing-table table {
    border-spacing: 30px 0;
}

#bearing-table input {
    width: 40px;
}

.distance-field {
    width: 80px !important;
}

th, td {
    text-align: center;
}

#warning {
    color: red;
}
